#introduction {
	position: relative;
	word-wrap: break-word;
	font-weight: $normalFontWeight;
	font-family: sans-serif;
	font-size: 16px;
	color: rgb(224, 224, 224);
	text-shadow: 1px 1px rgb(32, 32, 32);
	padding: 128px 48px 76px 48px;
	background: url("../../images/intro/bg.jpg") no-repeat center;
	background-size: 100%;
	height: auto;
	width: 100%;
}
