#footer {
	@extend %clearfix;
	padding: 12px 0;
	font-weight: $normalFontWeight;
	.left {
		font-size: 10px;
		float: left;
		padding-bottom: 24px;
		a, a:hover, a:visited {
			font-size: 12px;
		}
		a:hover {
			color: rgb(140, 140, 140);
		}
	}
	.right {
		text-align: right;
	}
}
