/**
 * dependencies
 */
@import "~normalize.css/normalize.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/scss/font-awesome.scss";

/**
 * our styles
 */
// fonts
/*
@font-face {
	font-family: "HiraKakuPro";
	font-style: normal;
	src: local("HiraKakuPro"),
	local("HiraKakuProN-W3-AlphaNum"),
	url("../fonts/HiraKakuProN-W3.woff")
}
*/
// font weight
$normalFontWeight: 200;
$labelFontWeight: 400;

// font color
$normalFontColor: rgb(51, 51, 51);

// Mixin
%clearfix {
	&:before,
	&:after {
		content: ""! important;
		display: table! important;
		clear: both! important;
	}
}

/**
 * show/hide overrides
 */
.hide {
	display: none!important;
}
.show-block {
	display: block!important;
}
.show-table {
	display: table!important;
}

/**
 * included styles
 */
#mainSection {
	@import "./root.scss";
}

@-ms-viewport{
  width: device-width;
}
