/**
 * dependencies
 */
@import "~bootstrap/dist/css/bootstrap.css";

/**
 * our fonts
@font-face {
  font-family: "Highway Gothic";
  font-style: normal;
  font-weight: 400;
  src:
  	local("Highway Gothic"),
  	local("HighwayGothic-Regular"),
  	url("../fonts/hwygoth.woff") format("woff");
}

@font-face {
  font-family: "Apple Chancery";

  src:
  	local("Apple Chancery"),
  	local("AppleChancery"),
  	url("../fonts/Apple Chancery.woff") format("woff");
}

@font-face {
  font-family: "HelveticaLTStd-BlkCond";
    font-style: normal;
  src:
  	local("Helvetica LT Std Black Condensed"),
  	local("HelveticaLTStd-BlkCond"),
  	url("../fonts/HelveticaLTStd-BlkCond.woff") format("woff");
}

@font-face {
  font-family: "HelveticaLTStd-LightCond";
    font-style: normal;
  src:
  	local("Helvetica LT Std Light Condensed"),
  	local("HelveticaLTStd-LightCond"),
  	url("../fonts/HelveticaLTStd-LightCond.woff") format("woff");
}

@font-face {
  font-family: "HelveticaLTStd-BoldCond";
    font-style: normal;
  src:
  	local("Helvetica LT Std Bold Condensed"),
  	local("HelveticaLTStd-BoldCond"),
  	url("../fonts/HelveticaLTStd-BoldCond.woff") format("woff");
}
@font-face {
  font-family: "HelveticaLTStd-BoldCondObl";
    font-style: normal;
  src:
  	local("Helvetica LT Std Bold Condensed Oblique"),
  	local("HelveticaLTStd-BoldCondObl"),
  	url("../fonts/HelveticaLTStd-BoldCondObl.woff") format("woff");
}


@font-face {
  font-family: "Segoe Script";
    font-style: normal;
  src:
  	local("Segoe Script"),
  	url("../fonts/segoesc.woff") format("woff");
}

@font-face {
  font-family: "OpenSans Regular";
    font-style: normal;
  src:
  	local("OpenSans Regular"),
  	url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans Semibold";
    font-style: normal;
  src:
  	local("OpenSans Semibold"),
  	local("Open Sans Semibold"),
  	url("../fonts/OpenSans-Semibold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans Bold";
    font-style: normal;
  src:
  	local("OpenSans Bold"),
  	local("Open Sans Bold"),
  	url("../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans Italic";
    font-style: normal;
  src:
  	local("OpenSans Italic"),
  	local("Open Sans Italic"),
  	url("../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Santa Fe LET Plain:1.0";
    font-style: normal;
  src:
  	local("Santa Fe LET Plain:1.0"),
  	url("../fonts/SantaFeLETPlain1.0.woff") format("woff");
}
 */
/**
 * our styles
 */
 // Mixin
%clearfix {
	&:before,
	&:after {
		content: ""! important;
		display: table! important;
		clear: both! important;
	}
}

.hide {
	display: none!important;
}
.show-block {
	display: block!important;
}
.show-table {
	display: table!important;
}

@import "./root.scss";

@-ms-viewport{
  width: device-width;
}
